<section class="py-5">
    <div class="container px-4 px-lg-5 my-5 border border-dark ">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img style="height: 550px;" class="card-img-top mb-5 mb-md-0" src="{{pdata.image}}" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">SKU: BST-498</div>
                <h1 class="display-5 fw-bolder">{{pdata.productName}}</h1>
                <div class="fs-5 mb-3">
                    <span>₹ {{pdata.price}}</span>
                </div>
                <p class="bolder">{{pdata.description}}</p>
                <div>Rating : {{pdata.rating}} </div>
                <button class="btn btn-primary w-25 m-3">
                    <a style="color: white;" href="products/edit-product/{{pdata.id}}">Edit</a>
                </button>
                <button (click)="deleteProduct()" class="btn btn-danger w-25">                    
                    <a style="color: white;" href="products/">Delete</a>
                </button>
            </div>
        </div>
    </div>
</section>





<!-- 

<div class="d-flex mt-2">
    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
    <button class="btn btn-outline-dark flex-shrink-0" type="button">
        <i class="bi-cart-fill me-1"></i>
        Add to cart
    </button>
</div> -->