<header class="bg-dark py-4">
    <div (click)="categoryProduct('')" class="text-light fw-bolder mx-3">All</div>
    <div (click)="categoryProduct(1)" class="text-light fw-bolder mx-3">Clothing</div>
    <div (click)="categoryProduct(2)" class="text-light fw-bolder mx-3">Electronics</div>
    <div (click)="categoryProduct(3)" class="text-light fw-bolder mx-3">Kitchen</div>
    <div (click)="categoryProduct(4)" class="text-light fw-bolder mx-3">Beauty Products</div>
    <div (click)="categoryProduct(5)" class="text-light fw-bolder mx-3">Books</div>   
</header>

<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div *ngFor="let i of categoryProducts | search:searchString : 'productName' " class="col mb-5">
                <div class="card h-100 card-box">
                    <!-- Product image-->
                    <img style="height: 250px;" class="card-img-top" src="{{i.image}}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{i.productName}} </h5>
                            <h6 class="fw-bolder">{{i.description}}</h6>
                            <!-- Product price-->
                            <h5 class="mt-4">₹ {{i.price}}</h5>
                        </div>
                    </div>

                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                href="products/view-product/{{i.id}}">View</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>